<!--<div id="<%#= dom_id talk %>">-->

<!--  <p>-->
<!--    <strong>User:</strong>-->
    <%#= talk.user_id %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Title:</strong>-->
    <%#= talk.title%>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Text:</strong>-->
    <%#= talk.text%>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Longitude:</strong>-->
    <%#= talk.longitude %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Latitude:</strong>-->
    <%#= talk.latitude %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Photo:</strong>-->
    <%#= link_to photo.filename, photo%>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Allow comments:</strong>-->
    <%#= talk.allow_comments %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Show likes count:</strong>-->
    <%#= talk.show_likes_count %>
<!--  </p>-->

<!--</div>-->
