/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
  color: #156397;
}

.container {
  z-index: 2;
}

.row {

}

.col {

}

.bg-image card shadow-1-strong w-100 {

}

.card-body {
  margin: 20px
}

.card-text {

}

.field form-group {

}

.form-control w-50 {

}

.field form-check {

}

.actions {

}